*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background: #f6f9fd;
}

.news-hero{
    background: #b7d5fb;
    padding: 70px 8%;
    text-align: center;
    margin-top: 12vh;
}

.news-hero h1{
    font-size: 38px;
    color: #1f2d3d;
}

.news-hero p{
    margin-top: 10px;
    font-size: 16px;
    color: #2b2b2b;
}

.news-section{
    padding: 60px 8%;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

.news-card{
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.news-card:hover{
    transform: translateY(-8px);
}

.news-card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.news-content{
    padding: 22px;
}

.news-content .date{
    font-size: 13px;
    color: #777;
}

.news-content h3{
    margin: 10px 0;
    color: #1f2d3d;
}

.news-content p{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.news-content a{
    text-decoration: none;
    font-weight: 600;
    color: #1f2d3d;
    transition: 0.3s;
    margin-top: auto;
}

.news-content a:hover{
    text-decoration: underline;
}
