* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px black;
  background-color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header nav .nav-logo {
  width: 15%;
}

header nav .nav-logo img {
  width: 100%;
}

header nav .navbar {
  width: 80%;
}

header nav .navbar ul,
header nav .login ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header nav .login{
  background-color: #4f637e;
  border-radius: 15px;
  margin-right: 15px;
}

header nav .login ul{
  gap: 5px;
}

header nav .navbar ul li,
header nav .login ul li {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

header nav .navbar ul li a,
header nav .login ul li a {
  text-decoration: none;
  color: black;
  transition: 0.1s ease;
}

header nav .login ul li a{
  color: white;
}

header nav .login ul li a:hover{
  color: red;
}

header nav .navbar ul li a:hover {
  color: rgb(0, 26, 255);
  transition: 0.1s ease;
}

.active {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px black;
}

header nav .navbar ul li .active_link {
  color: rgb(0, 26, 255);
}

main {
  width: 100%;
  height: auto;
  margin-top: 17vh;
}

main .part1 {
  width: 100%;
  height: 85vh;
  background-image: url("img/For-our-new-pharmacare-system-lets-keep-what-works.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 150px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

main .part1 div {
  width: 65%;
}

main .part1 div:first-child h1 {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.8);
}

main .part1 div:first-child p {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}

main .part1 .button {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: end;
  justify-content: end;
  text-align: end;
}

main .part1 .button button {
  width: 100%;
  background-color: rgb(0, 0, 85);
  padding: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

main .part1 .button button:hover {
  background-color: rgb(0, 0, 55);
  transition: all 0.1s;
}

main .part1 .button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.brends {
  width: 100%;
  padding: 10px 20rem;
}

.brends .brend_info h1 {
  font-size: 40px;
  text-align: center;
}

.brends .brend_info h1:first-child {
  color: blue;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brends .brend_info h1:nth-child(2) {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.brends .brend_info p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.brends .brendet {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;
}

.brends .brendet .brendi {
  width: 100%;
  padding: 15px;
  box-shadow: 0px 4px 10px black;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: flex;
}

.brends .brendet .brendi img {
  width: 100%;
}

.part2 {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.part2 div {
  width: 50%;
}

.part2 .part2-img img {
  width: 100%;
}

.part2 .part2-info {
  width: 45%;
}

.part2 .part2-info h1 {
  text-align: start;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(85, 85, 255);
  margin-top: 10px;
}

.part2 .part2-info p {
  font-size: 25px;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.part2 .part2-info a {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(0, 0, 85);
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: all 0.1s;
}

.part2 .part2-info a:hover {
  background-color: rgb(0, 0, 55);
  transition: all 0.1s;
}

.our_values {
  width: 100%;
  padding: 15px 70px;
  margin-top: 50px;
}

.our_values div:first-child {
  width: 100%;
  padding: 15px;
}

.our_values div:first-child h1 {
  text-align: center;
  font-size: 45px;
  color: #c13931;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.our_values div:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.our_values div:last-child article {
  width: 25%;
}

.our_values div:last-child article .article-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.our_values div:last-child article .article-img img {
  width: 15%;
}

.our_values div:last-child article h2 {
  margin-top: 15px;
  text-align: center;
}

.our_values div:last-child article p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.part3 {
  width: 100%;
  height: 100vh;
  background-color: #b7d5fb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  margin-top: 100px;
}

.part3 .part3-info {
  width: 45%;
  padding: 70px;
}

.part3 .part3-info h1:nth-child(1) {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.part3 .part3-info h1:nth-child(2) {
  margin-top: 20px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.part3 .part3-info p {
  margin-top: 15px;
  margin-bottom: 35px;
  line-height: 35px;
  font-size: 20px;
}

.part3 .part3-info a {
  padding: 15px;
  background-color: rgb(0, 0, 85);
  text-decoration: none;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  transition: all 0.1s;
}

.part3 .part3-info a:hover {
  background-color: rgb(0, 0, 55);
  transition: all 0.1s;
}

.part3 .part3-img {
  width: 50%;
}

.part3 .part3-img img {
  width: 100%;
}


.site-footer{
    background: #d8e8fe;
    padding: 50px 8% 20px;
    margin-top: 80px;
    color: #1f2d3d;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    margin-bottom: 30px;
}

.footer-col h3,
.footer-col h4{
    margin-bottom: 15px;
    color: #1f2d3d;
}

.footer-col p{
    font-size: 14px;
    line-height: 1.6;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    text-decoration: none;
    color: #1f2d3d;
    transition: 0.3s;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

.footer-bottom{
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}
